.text-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-paragraph {
    width: 50vw;
}

.text-subtitle {
    width: 50vw;
}

@media only screen and (max-width: 1080px) {
    .text-paragraph {
        width: 60vw;
    }

    .text-subtitle {
        width: 60vw;
    }
}