.text-container {
    margin-top: 2rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-paragraph {
    width: 50vw;
    margin-top: 0;
    font-size: 24px;
}

.text-subtitle {
    width: 50vw;
    margin-bottom: 0;
    font-size: 24px;
    font-style: bold;
}

@media only screen and (max-width: 1080px) {
    .text-paragraph {
        font-size: 18px;
        width: 60vw;
    }

    .text-subtitle {
        font-size: 18px;
        width: 60vw;
    }
}