.button {
    cursor: pointer;
    background: black;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    clip-path: polygon(0.5em 0%,
            100% 0,
            100% calc(100% - 0.5em),
            calc(100% - 0.5em) 100%,
            0 100%,
            0% 0.5em);
    transition: color 250ms;
}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    z-index: -2;
}

button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    z-index: -1;
    clip-path: polygon(0.25em calc(0.5em + 0.25em * 0.5),
            calc(0.5em + 0.25em * 0.5) 0.25em,
            calc(100% - 0.25em) 0.25em,
            calc(100% - 0.25em) calc(100% - calc(0.5em + 0.25em * 0.5)),
            calc(100% - calc(0.5em + 0.25em * 0.5)) calc(100% - 0.25em),
            calc(0.25em) calc(100% - 0.25em));
    transition: clip-path 500ms;
}

button:hover {
    color: white;
}

button:hover::after {
    clip-path: polygon(calc(100% - 0.25em) calc(100% - calc(0.5em + 0.25em * 0.5)),
            calc(100% - 0.25em) 0.25em,
            calc(100% - 0.25em) 0.25em,
            calc(100% - 0.25em) calc(100% - calc(0.5em + 0.25em * 0.5)),
            calc(100% - calc(0.5em + 0.25em * 0.5)) calc(100% - 0.25em),
            calc(100% - calc(0.5em + 0.25em * 0.5)) calc(100% - 0.25em));
}

