.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 1.6rem;
}

.logo-image-container {
  height: 3.4rem;
  width: 18.12rem;
}

.logo-center-image {
  width: 100%;
  height: 100%;
}

img {
  object-fit: fill;
  max-width: 100%;
  height: auto;
}

.page-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-center-image {
    width: 100%;
    height: 100%;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
  }

  .logo-image-container {
    height: 2rem;
    width: 10.6rem;
    display: flex;
    justify-content: center;
  }

  img {
    object-fit: fill;
    margin: auto;
  }
}