.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    opacity: .9;
}

.login-label {
    font-size: 24px;
}

.login-input {
    height: 2.5rem;
    width: 20rem;
    border: 2em grey;
    opacity: .8;
}

.login-button {
    border-radius: 2em;
    border: 2rem grey;
    margin-top: 2.5rem;
    height: 2.5rem;
    width: 20rem;
}

.page-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}