.page-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14rem;
}

.login-title {
    font-size: 22px;
    width: 18rem;
    margin-bottom: 1rem;
}

.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.login-input {
    background-color: white;
    color: black;
    height: 2.5rem;
    width: 20rem;
    margin-top: .5rem;
}

.login-button-container {
    height: 2.2rem;
    width: 20rem;
    display: flex;
    justify-content: right;
    margin-top: .5rem;
}

.login-button {
    height: 2.25rem;
    width: 9rem;
}

@media only screen and (max-width: 1080px) {
    .page-body {
        padding-top: 10rem;
    }
}