@font-face {
  font-family: neue-montreal;
  src: url('../assets/fonts/NeueMontreal-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: neue-montreal-italic;
  src: url('../assets/fonts/NeueMontreal-Light.otf');
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url('./../assets/images/background-laminar-close.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color-scheme: light dark;
  color: white;
  font-family: neue-montreal;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.center-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  background-color: transparent;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 3rem;
}

.page-body {
  flex-grow: 1;
}

.footer-text {
  font-size: 14px;
}