/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: transparent;
}

ul {
    list-style: none;
}

.landscape-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.landscape-menu-section-right {
    width: 24vw;
    font-size: 20px;
    display: flex;
    gap: 3em;
    justify-content: left;
    padding-top: 2rem;
}

.landscape-menu-section-left {
    width: 20vw;
    font-size: 20px;
    display: flex;
    gap: 5em;
    justify-content: left;
    padding-top: 2rem;
}

.hidden-icon-link {
    min-width: 20px;
    visibility: hidden;
}

.selected-link {
    text-decoration: underline;
}

.off-screen-menu {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1080px) {
    .landscape-menu {
        display: none;
    }

    /* off-screen-menu */
    .off-screen-menu {
        background-color: black;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 1;
    }

    .off-screen-menu.active {
        right: 0;
    }

    .off-screen-menu-item {
        margin-top: 1rem;
    }

    .off-screen-menu-icon {
        margin-top: 3rem;
    }

    /* ham menu */
    .ham-menu {
        height: 25px;
        width: 20px;
        margin-left: auto;
        position: relative;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 3rem;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: white;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
        z-index: 1;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span {
        background-color: white;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}